<center>
<div class="w3-container w3-grey">
  <h2 style="font-size:46px;"><b>SIGN IN!!!</b></h2>
</div>
<br>
<br>
<form class="w3-container">
<span style="color:red">{{error.message}}</span>
<b style="font-size:20px;">
Enter username :<br> <input type="text" ng-model="user.username"><br>
<br>
Enter Password: <br><input type="password" ng-model="user.password">
</b>
<br><br>
<b><input type="submit"  class="btn btn-secondary btn-lg" ng-click="login()" value="Sign in"></b>


</form></center>
<br>
<br><br>
<br><br><br><br>
<br><br>
<br>
<br>
<br>
<br>
<br>